<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Present</title>
    <!--Import Google Icon Font-->

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="assets/css/main.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

    <section id="main">
        <h2>WebSockets</h2>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s10">
                    <input
                        v-model='address'
                        @keyup.enter='fetch'
                        id="address"
                        type="text"
                        ref='address'
                        class="validate">
                    <label for="address">Path</label>
                </div>
                <div class="col s2">
                    <a v-show='!connected'
                        @click='connect'
                        class="waves-effect waves-light btn">Connect</a>
                    <a v-show='connected'
                        @click='disconnect'
                        class="waves-effect waves-light btn">Disconnect</a>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10">
                    <input
                        v-model='message'
                        @keyup.enter='sendMessage'
                        id="message"
                        type="text"
                        ref='message'
                        class="validate">
                    <label for="message">Message</label>
                </div>
                <div class="col s2">
                    <a @click='sendMessage'
                    class="waves-effect waves-light btn">Send</a>
                </div>
            </div>

            <div class="errors" v-if='selected.error'>
                <p>{{ selected.error.details }}</p>
            </div>
            <div class="row" v-if='selected.view != undefined'>
                <div></div>
            </div>
        </form>

        <div id="form-output">
            <!-- <div class="col s12 m7">
                <h2 class="header">Horizontal Card</h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <ul class="row">
                <a @click='clearMessages'
                class="waves-effect waves-light btn">clear</a>
            </ul>

            <ul class="collection">
                <li :class="['collection-item row', message.type]" v-for='(message, key) in socketMessages.slice().reverse()' :key='message.data'>
                    <span class="message-key">
                        {{ message.index }}
                    </span>
                    <span :class="['message', message.type]">
                    {{ message.data }}
                    </span>
                </li>
            </ul>
        </div>
    </section>

    <script type="text/javascript" src="assets/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/materialize.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script type="text/javascript" src="assets/js/main.js?1"></script>
</body>
</html>
